body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color:black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    color: black;
}

h3 {
    color: black;
    text-align: center;
}

ol {
    list-style-type: lower-alpha;
    padding-left: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

dl {
    margin-top: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 20px;
}
